html,
body,
.App,
#root {
  height: 100%;
}

.MuiTabs-root {
  display: flex;
  overflow: hidden;
  min-height: 48px;
  position: fixed;
  top: 0px;
  background-color: white;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 0px 10px 0px #888888;
}

.black {
  color: rgb(80, 85, 92) !important;
  text-align: center;
}

.black.sideWidth {
  margin: 4% 20px;
}
.title {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
}
.lineContainer {
  position: relative;
  display: inline-block;
}
.line ::before {
  right: 100%;
}
.black ::before,
.black ::after {
  background: rgb(80, 85, 92) !important;
}
.line ::before,
.line ::after {
  background: #fff;
  content: " ";
  display: inline-block;
  height: 2px;
  margin: 0 10px;
  position: absolute;
  top: 50%;
  width: 80px;
  zoom: 1;
}
.titleContainer {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}
.arrow {
  transform: rotate(90deg) translate(0%, 50%);
  filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(201deg)
    brightness(106%) contrast(106%);
  position: absolute;
  left: 50%;
  bottom: 3%;
}
.centre {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.centre ul {
  list-style-type: none;
}
.flexContainer {
  display: flex;
  align-items: flex-start;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}

.flexMirror {
  height: 100%;
}

.flexStretch {
  align-items: stretch;
}

a svg {
  width: 30px;
  height: 30px;
}

.textLeft {
  text-align: left;
}
.twoCards .MuiCard-root,
.twoCards .makeStyles-root-1 {
  margin: 0px 2%;
  width: 40%;
  max-width: 40%;
}

.twoCards {
  padding: 80px 0px;
  background-color: #eeeeee;
}
.sideDescription li:before {
  content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0";
  width: 100px;
  height: 40px;
  background-image: url("./Pictures/checkMark.svg");
  background-size: cover;
  background-position: center;
  margin-right: 5%;
  filter: invert(35%) sepia(45%) saturate(515%) hue-rotate(153deg)
    brightness(94%) contrast(94%);
}
.sideDescription li {
  border-top: 1px solid #aaaaaa;
  padding: 3% 0% 3% 0%;
  font-size: 18px;
  text-align: left;
}
.sideDescription {
  width: auto;
  list-style-type: none;
  padding-inline-start: 0;
}
#profilePic {
  border-radius: 50%;
  width: 300px;
  margin: 3% 7%;
}

.Orderio {
  overflow: hidden;
}

footer {
  box-shadow: 0px 0px 10px 0px #888888;
  padding-top: 10px;
}
.subtitle {
  font-size: 12px;
  color: #888888;
  text-align: center;
}
.widthMarginBlock {
  width: 70%;
  margin: 4% auto;
}
.biggerWidth {
  width: 80%;
}
.blankSpace {
  height: 164px;
}
.topMargin {
  margin-top: 2%;
}

.cardimg {
  width: 100%;
}

.positionBlock {
  text-align: center;
  margin: 20vh auto 15vh;
}

.workJourneyImg {
  border-radius: 10%;
  width: 20vw;
  margin: 0vw 2vw;
  box-shadow: 0px 0px 10px 0px #888888;
}
.Company {
  color: rgb(94, 149, 22);
  font-size: 16px;
}
.Date {
  color: rgb(80, 85, 92);
  font-size: 16px;
}
.Position {
  font-size: 20px;
  color: rgb(51, 119, 204);
}
p,
h6 {
  margin: 0.5rem;
  color: rgb(80, 85, 92);
}
.sideWidth {
  max-width: 50rem;
}
