.App {
  text-align: center;
}

html,
body,
.App,
.App-header,
#root {
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
}
.lineContainer {
  position: relative;
  display: inline-block;
}
.line ::before {
  right: 100%;
}
.black ::before,
.black ::after {
  background: black !important;
}
.line ::before,
.line ::after {
  background: #fff;
  content: " ";
  display: inline-block;
  height: 2px;
  margin: 0 10px;
  position: absolute;
  top: 50%;
  width: 80px;
  zoom: 1;
}
.titleContainer {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}
.arrow {
  transform: rotate(90deg) translate(0%, 50%);
  filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(201deg)
    brightness(106%) contrast(106%);
  position: absolute;
  left: 50%;
  bottom: 3%;
}
.centre {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flexContainer {
  display: flex;
  align-items: flex-start;
}
.sideDescription li:before {
  content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0";
  width: 100px;
  height: 40px;
  background-image: url("./checkMark.svg");
  background-size: cover;
  background-position: center;
  filter: invert(35%) sepia(45%) saturate(515%) hue-rotate(153deg)
    brightness(94%) contrast(94%);
}
.sideDescription li {
  border-top: 1px solid #aaaaaa;
  padding: 3% 0% 3% 0%;
  font-size: 18px;
}
.sideDescription {
  width: auto;
  list-style-type: none;
  padding-inline-start: 0;
}
#profilePic {
  border-radius: 50%;
  width: 300px;
  margin: 3% 7%;
}
.widthMarginBlock {
  width: 70%;
}
.blankSpace {
  height: 164px;
}
.topMargin {
  margin-top: 3%;
}